*{
	box-sizing: border-box;
	font-family: Microsoft Yahei;
}

body{
	min-width: 990px;
}

header{
	width: 986px;
	height: 69px;
	margin: 0 auto;
}

.uclogo img{
	margin-top: 10px;
}

.header-nav{
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
	line-height: 70px;
	text-align: center;
	margin-left: 151px;
}

.header-nav a{
	color: #445;
	width: 60px;
	height: 70px;
	margin-right: 26px;
}

.header-nav a:last-child{
	margin-right: 0;
}

.header-nav>a:hover{
	border-bottom: 3px solid #f60;
	color: #f60;
}

.header-nav div{
	display: inline-block;
	position: relative;
}

.header-nav div:hover .download{
	display: block;
}

.download{
	width: 144px;
	height: 182px;
	position: absolute;
	top: 73px;
	left: -40px;
	box-shadow: 0 0 6px #efefef;
	background: rgba(255,255,255,.8);
	z-index: 2;
	margin-top: -3px;
	display: none;
}

.download:before{
	content: '';
	background: url(../img/ico_down_arrow.png);
	width: 20px;
	height: 10px;
	display: block;
	position: relative;
	top: -10px;
	left: 50%;
	margin-left: -10px;
}

.download li{
	height: 34px;
	text-align: center;
	line-height: 34px;
}

.download li:hover{
	background: #f6f6f6;
}

.download li:hover a{
	color: #f60;
}

.download a{
	font-size: 14px;
	width: 100%;
	color: #445;
}

.banner{
	height: 399px;
	width: 100%;
	position: relative;
	overflow: hidden;
	animation: banner-move 10s linear infinite;
	background-position: center;
	background-repeat: no-repeat;
}

@keyframes banner-move{
	0%{background-image: url(../img/banner.png)}
	30%{background-image: url(../img/banner.png)}
	40%{background-image: url(../img/banner2.jpg)}
	70%{background-image: url(../img/banner2.jpg)}
	80%{background-image: url(../img/banner3.png)}
	90%{background-image: url(../img/banner3.png)}
	100%{background-image: url(../img/banner.png)}
}

.banner>a{
	position: absolute;
	bottom: 39px;
	display: inline-block;
	width: 168px;
	height: 47px;
}

.android{
	left: 500px;
}

.ios{
	left: 680px;
}

.banner-ul{
	position: absolute;
	bottom: 12px;
	left: 47%;
}

.banner-ul > li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: 0px 2px 4px gray;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.dl-container{
	width: 100%;
}
.dl{
	width: 986px;
	position: relative;
	margin: 0 auto;
}

.two-code{
	position: relative;
	height: 104px;
	width: 84px;
	display: inline-block;
	margin-left: 4px;
	vertical-align: top;
	margin-top: 16px;
	text-align: center;
}

.two-code p{
	font-size: 12px;
	color: #999;
}

.uc-dl{
	border-right: 1px solid #eee;
	width: 480px;
	vertical-align: top;
}

.uc-dl,.tt-dl{
	height: 119px;
	display: inline-block;
	margin-top: 14px;
}

.uc-android,.uc-ios,.uc-pc,.tt-android,.tt-ios{
	width: 84px;
	height: 80px;
	cursor: pointer;
	position: relative;
}

.uc-android{
	background: url(../img/sprite_uc_android.png);
	margin-left: 56px;
}

.uc-android:hover,.uc-ios:hover,.uc-pc:hover,.tt-android:hover,.tt-ios:hover{
	animation: move .6s steps(11) forwards;
}

.uc-ios{
	background: url(../img/sprite_uc_ios.png);
	margin-left: 49px;
}

.uc-pc{
	background: url(../img/sprite_uc_win.png);
	margin-left: 49px;
}

.uc-dl a,.tt-dl a{
	font-size: 12px;
	color: #444;
	position: absolute;
	bottom: -18px;
	display: inline-block;
	width: 100px;
	text-align: center;
}

.uc-dl div:hover a,.tt-dl div:hover a{
	color: #f60;
}

.uc-dl div,.tt-dl div{
	display: inline-block;
}

.tt-android{
	background: url(../img/sprite_uct_android.png);
	margin-left: 24px;
}

.tt-ios{
	background: url(../img/sprite_uct_ios.png);
	margin-left: 49px;
}

section{
	margin-top: 58px;
	width: 100%;
	height: 370px;
}

.content{
	width: 986px;
	height: 100%;
	margin: 0 auto;
}

.activity,.news,.tie{
	width: 290px;
	height: 100%;
	float: left;
}

.news{
	margin-left: 58px;
	margin-right: 58px;
}

.activity h2,.news h2,.tie h2{
	font-size: 20px;
	color: #555;
	font-weight: normal;
	float: left;
}

h2~a{
	font-size: 14px;
	color: #555;
	float: right;
	position: relative;
	top: 2px;
}

h2~a:hover{
	color: #f60;
}

.title{
	height: 40px;
}

.activity-pic,.news-pic,.tie-pic{
	height: 154px;
	cursor: pointer;
}

.activity-pic:hover>p,.news-pic:hover>p,.tie-pic:hover>p{
	color: #f60;
}

.activity-pic p,.news-pic p,.tie-pic p{
	height: 34px;
	width: 290px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: white;
	opacity: .9;
	position: relative;
	top: 120px;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	color: #444;
}

.activity-pic{
	background: url(../img/activity-pic.png);
}

.news-pic{
	background: url(../img/news-pic.png);
}

.tie-pic{
	background: url(../img/tie-pic.png);
}

.content-a{
	height: 175px;
	width: 100%;
	margin-top: 12px;
}

.content-a a{
	margin-bottom: 8px;
	font-size: 14px;
	color: #444;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 100%;
}

.content-a a:hover{
	color: #f60;
}

footer{
	width: 100%;
	background: #333;
	height: 512px;
	overflow: hidden;
	font-size: 0;
}

.footer-container{
	width: 1002px;
	margin: 31px auto 0;
	height: 227px;
}

.footer-container,.links{
	border-bottom: 1px dotted #565656;
}

.footer-ul{
	font-size: 0;
	float: left;
	width: 165px;
	height: 212px;
}

.footer-ul li{
	margin-bottom: 6px;
}

.footer-ul a{
	font-size: 12px;
	color: #aaa;
}

.footer-ul a:hover{
	color: #f60;
}

.bold{
	font-weight: bold;
}

.lan i{
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: top;
	margin-right: 2px;
}

.lan>.language{
	width: 138px;
	height: 22px;
	border: 1px solid #434343;
	padding: 3px 4px;
	margin-bottom: 17px;
}

.language a{
	width: 126px;
	display: inline-block;
}

.lan a{
	font-size: 14px;
}

.lan{
	margin-top: -5px;
}

.language span{
	font-size: 10px;
	float: right;
	color: #434343;
}

.lan>.site{
	height: 25px;
	margin: 2px 0 2px 6px;
}

.lan>.site a{
	line-height: 24px;
}

.links{
	width: 990px;
	height: 38px;
	line-height: 38px;
	color: #666;
	font-size: 12px;
	margin: 0 auto;
}

.links a{
	margin: 0 6px 0 4px;
	color: #aaa;
}

.links a:hover{
	color: #f60;
}

.copyright{
	width: 990px;
	height: 100%;
	margin: 0 auto;
}

.company-logo{
	margin-top: 42px;
	width: 118px;
	height: 36px;
	float: left;
	vertical-align: top;
}

.copy-text{
	width: 518px;
	height: 100%;
	float: left;
	color: #666;
	font-size: 12px;
	line-height: 19px;
	margin-top: 25px;
	margin-left: 14px;
}

.fanv{
	width: 338px;
	height: 178px;
	float: left;
	vertical-align: top;
	padding-top: 20px;
}

.fanv p{
	text-align: right;
	margin-bottom: 5px;
}

@keyframes move{
	100%{background-position: -1100px;}
}